body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  /* background-color: #000;
  color: #fff; */
}

.nav li:first-child {
  padding-left: 0;
}

.nav > div:nth-child(4) {
  margin-left: auto;
}

ul {
  padding-left: 0;
}

.dashboard {
  columns: 3 auto;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar-small {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.avatar-large {
  height: 200px;
  max-width: 100%;
  border-radius: 25px;
  margin: 10px;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.question-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.question-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.question-info > div > div {
  color: #969696;
  font-size: 15px;
}
.question-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.question-icons {
  display: flex;
  align-items: center;
}
.question-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.question-icon {
  font-size: 27px;
  color: #697784;
}
.question-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #c3392a;
}

.table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.table td {
  width: 200px;
  padding: 10px;
  border: 1px solid #dfdcdc;
}

.table th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
  width: 200px;
}

.table-cell {
  padding: 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
}

.table-cell:first-child {
  width: 600px;
}

.table-name {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.table-userid {
  display: block;
  font-size: 14px;
}

.table-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.table-info {
  display: flex;
  align-items: center;
}

/* Refer from: https://codepen.io/Gogh/pen/LYXdZNE */

.et__cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

/*==================== POLL UI ====================*/
.et__box--wrapper {
  --clr-primary: #000000;
  --clr-bg-light: #ffffff;
  --clr-gray-100: #cccccc;
  --clr-gray-200: #e6e6e6;
  --clr-gray-300: #f0f0f0;
  --linear-gradient: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    transparent 75%,
    transparent
  );

  width: 100%;
  max-width: 380px;
  padding: 25px;
  border-radius: 15px;
  background-color: var(--clr-bg-light);
}
.et__box--wrapper header {
  font-size: 22px;
  font-weight: 700;
}
.et__box--wrapper .et__poll--area {
  margin: 20px 0 15px;
}
.et__poll--area .et__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid var(--clr-gray-200);
  transition: all 0.2s ease;
}
.et__poll--area .et__box:hover {
  border-color: var(--clr-primary);
}
.et__poll--area .et__box.et__selected {
  border-color: var(--clr-primary);
}
.et__poll--area .et__box .et__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.et__poll--area .et__box .et__row .et__column {
  display: flex;
  align-items: center;
}
.et__poll--area .et__box .et__row .et__circle {
  display: block;
  height: 19px;
  width: 19px;
  margin-right: 10px;
  border-radius: 50%;
  position: relative;
  border: 2px solid var(--clr-gray-100);
}
.et__poll--area .et__box.et__selected .et__row .et__circle {
  border-color: var(--clr-primary);
}
.et__poll--area .et__box .et__row .et__circle::after {
  display: none;
  content: "";
  height: 11px;
  width: 11px;
  border-radius: inherit;
  position: absolute;
  top: 2px;
  left: 2px;
  background-image: var(--linear-gradient);
  background-size: 0.5rem 0.5rem;
  animation: etProgressBarStripes 1s linear infinite;
  background-color: var(--clr-gray-100);
}
.et__poll--area .et__box:hover .et__row .et__circle::after {
  display: block;
  background-color: var(--clr-gray-200);
}
.et__poll--area .et__box.et__selected .et__row .et__circle::after {
  display: block;
  background-color: var(--clr-primary);
}
.et__poll--area .et__box .et__row span {
  font-size: 16px;
  font-weight: 400;
}
.et__poll--area .et__box .et__percent {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.et__poll--area .et__box.et__selectedAll .et__percent {
  visibility: visible;
  opacity: 1;
}
.et__poll--area .et__box .et__progress {
  height: 0px;
  width: 100%;
  position: relative;
  border-radius: 30px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: var(--clr-gray-300);
}
.et__poll--area .et__box .et__progress::after {
  content: "";
  height: 100%;
  width: 0;
  border-radius: inherit;
  position: absolute;
  background-color: var(--clr-gray-100);
  background-image: var(--linear-gradient);
  background-size: 1rem 1rem;
  animation: etProgressBarStripes 1s linear infinite;
  transition: width 0.5s ease;
}
.et__poll--area .et__box.et__selectedAll .et__progress {
  height: 7px;
  margin: 8px 0 3px;
  visibility: visible;
  opacity: 1;
}
.et__poll--area .et__box.et__selected .et__progress::after {
  width: calc(1% * var(--w));
  background-color: var(--clr-primary);
}
@-webkit-keyframes etProgressBarStripes {
  from {
    background-position: 55px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes etProgressBarStripes {
  from {
    background-position: 55px 0;
  }
  to {
    background-position: 0 0;
  }
}
